.slideshow {
  margin: 0 auto;
  overflow: hidden;
}

.paragraph-product {
  color: white;
  padding-top: 5%;
  font-size: 1vw;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slideP {
  display: inline-block;

  height: 35vw;
  width: 100%;
}
a {
  color: black !important;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: black;
}

.navbar-container {
  width: 100%;
  background-color: #000000;
  height: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logoimg {
  height: 100%;
}

.child {
  position: relative;
}

.discount {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-size: 25px;
}
.last-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.navigation-buttons {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  color: white;
  font-size: 1.5vw;
}

.cartlogo {
  height: 70%;
  width: 3vw;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  transition: all 1s ease;
  height: 100%;
  margin-top: 0px;
}

.slideshow-container {
  width: 100%;
  height: 40vw;
  overflow: hidden;
  border-radius: 3px;
  padding-top: 0px;
}

.imgg {
  width: 100vw;
  height: 100%;
}

li {
  width: 100%;
}

.winter-collection {
  height: 30vw;

  margin-bottom: 2vw;
}

.scroll-collection {
  width: 100%;
  height: 85%;
  display: flex;

  justify-content: space-between;
}

.cover {
    height: 87%;
      width: 90%;
      padding-left: 2%;
}

.scroll-devs {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  
}

.scroll-devos {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
 
}

.child {
  min-width: 19vw;
  height: 471px;
  margin: 8px 22px;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 35px;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding-top: 5%; */
}

.child-image {
  width: 290px;
  height: 12vw;
}

.leftarrow {
  background: none;
  border: 0px;
}

.arrows-heights {
  height: 100%;
    width: 100%;
}

.parent-arrow {
  align-self: center;

  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.child-image-button {
  height: 3vw;
  width: 80%;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.heading-collection {
  font-size: 3vw;
  text-align: center;
}

.pablo-description {
  height: 29vw;
  border: solid 1px black;
  margin: auto;
  width: 78%;
  /* padding: 10px; */
  border-radius: 35px;
  margin-bottom: 4rem;
}

.description-header {
  font-size: 2vw;
  padding-top: 2vw;
  text-align: center;
}

.description-description {
  padding-right: 10%;
  font-size: 2vw;
  padding-left: 5%;
}

.description-buttons {
  font-size: 2vw;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.description-butt {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer {
  height: 20vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-first-p {
  font-size: 1.5vw;
  color: white;
}

.footer-second {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-second-p {
  font-size: 1.2vw;
  color: white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  flex-wrap: wrap;
}

.images-buttons-footer {
  height: 100%;
  width: 100%;
}

.button-footer-background {
  background: none;
  border: none;
}

/* media  */

@media only screen and (max-width: 1600px) {
  .cover {
    height: 18vh;
    width: 80%;
    padding-left: 2%;
  }
/* 
  .child {
    min-width: 24vw;
    height: 17rem;
    margin: 0rem 5rem;
  } */

  .child-image {
    width: 25vh;
    height: 19vh;
  }
  .scroll-collection {
    width: 100%;
    height: 89%;
  }


}

@media only screen and (max-width: 1500px) {

        .cover {
          height: 87%;
          width: 80%;
          padding-left: 2%;
        }

}
@media only screen and (max-width: 1400px) {

        .cover {
          height: 87%;
          width: 80%;
          padding-left: 2%;
        }





.child {
  min-width: 28vw;
  height: 25vw;
}

.child-image-button {
  height: 3vw;
}

.winter-collection {
  height: 30vw;
  margin-bottom: 6vw;
}
.paragraph-product {
  font-size: 2vw;
}
  
}

@media only screen and (max-width: 1190px) {

  .heading-collection {
    margin-bottom: 1rem;
  }
  .cover {
    height: 87%;
    width: 80%;
    padding-left: 2%;
  }
}
@media only screen and (max-width: 1100px) {
  
  /* .child {
    min-width: 26vw;
    height: 17rem;
    margin: 0rem 3rem;
  } */
  .winter-collection {
    height: 30vw;
    margin-bottom: 10vw;
}
}

@media only screen and (max-width: 1020px) {
  /* .child {
    min-width: 26vw;
    height: 17rem;
    margin: 0rem 3rem;
  } */
  .heading-collection {
    margin-bottom: 1rem;
  }
  .winter-collection {
    height: 30vw;
    margin-bottom: 17vw;
  }
  
}

@media only screen and (max-width: 1000px) {
  /* .child {
    min-width: 26vw;
    height: 15rem;
    margin: 0rem 3rem;
  } */

  .heading-collection {
    margin-bottom: 1rem;
  }


  .navigation-buttons {
    width: 43%;
  }


     .cover {
       height: 87%;
       width: 80%;
       padding-left: 2%;
     }
  
  
  
  
  
     .child {
       min-width: 28vw;
       height: 30vw;
     }
  
     .child-image-button {
       height: 3vw;
     }
  
     .winter-collection {
       height: 30vw;
       margin-bottom: 12vw;
     }
  
     .paragraph-product {
       font-size: 2vw;
     }




}

@media only screen and (max-width: 850px) {
  /* .child {
    min-width: 28vw;
    height: 15rem;
    margin: 0rem 2rem;
  } */
  .winter-collection {
    height: 30vw;
    margin-bottom: 40vw;
  }
  .parent-arrow {
    margin-top: 2rem;
  }
  .navigation-buttons {
    width: 45%;
  }

}
@media only screen and (max-width: 730px) {
  /* .child {
    min-width: 42vw;
    height: 17rem;
    margin: 0rem 7rem;
  } */
  .winter-collection {
    height: 30vw;
    margin-bottom: 36vw;
  }


  .button-footer-background {
    width: 3rem;
    height: 2rem;
  }
  .parent-arrow {
    margin-top: 5rem;
  }
  .logoimg {
    max-width: 78%;
}
}

@media only screen and (max-width: 630px) {
  .winter-collection {
    height: 30vw;
    margin-bottom: 42vw;
  }

  /* .child {
    min-width: 43vw;
    height: 17rem;
    margin: 0rem 5rem;
  } */
  .parent-arrow {
    margin-top: 7rem;
  }
  .navigation-buttons {
    width: 52%;
  }
  .last-header{
    width: 7rem;
  }
}

@media only screen and (max-width: 520px) {
  /* .child {
    min-width: 39vw;
    height: 14rem;
  } */
  .child-image-button {
    height: 9vw;
  }
  .button-footer-background {
    width: 2rem;
    height: 1rem;
  }

  .navigation-buttons {
    width: 76%;
}

.pablo-description {
  height: 47vw;
}
.description-description {
  font-size: 3vw;
}
.description-header {
  font-size: 3vw;
}
}

@media only screen and (max-width: 470px) {
  /* .child {
    min-width: 42vw;
    height: 15rem;
    margin: 0rem 3.5rem;
  } */
  .winter-collection {
    height: 30vw;
    margin-bottom: 59vw;
  }


  .slideP{
    height: 55vw;
  }

}

@media only screen and (max-width: 400px) {
  
  /* .child {
    min-width: 47vw;
    height: 13rem;
    margin: 0rem 3.5rem;
    border-radius: 10%;
  } */


  .navbar-container {
    height: 10vw;
  }
  .nav-buttons {
    font-size: 2.4vw;
    margin-left: -0.8rem;
    margin-top: 1rem;
  }
  .navigation-buttons{
    width: 100%;
  }

.slideshowDot{
  height: 13px;
  width: 13px;
}
.slideP{
  height: 294px;
}
.arrows-heights{
    height: 100%;
      width: 100%;
}

.cover{
  width: 80%;
  padding-left: 2%;

}
.pablo-description {
  height: 87vw;
}
.description-header {
  font-size: 6vw;
}
.description-description {
  font-size: 4vw;
}
.footer-second-p {
  font-size: 2.5vw;
}
.footer-first-p {
  font-size: 2.5vw;

}

.footer {
    height: 30vw;
}
.button-footer-background {
  width: 2rem;
  height: 2rem;
}
/* .social-icons{
  padding-right: 1rem;
} */

.heading-collection{
margin-top: 2rem;
}
.heading-collection {
  font-size: 5vw;
}
  }
  
  @media only screen and (max-width: 350px){
    /* .child {
      min-width: 44vw;
      height: 17rem;
      margin:0rem 2.5rem;
    } */
    .parent-arrow {
      margin-top: 13rem;
  }

  .winter-collection {
    height: 30vw;
    margin-bottom: 81vw;
  }
  .child-image-button {
    height: 4vw;
  }
  .navigation-buttons {
    width: 164%;
}
.last-header {
  width: 10rem;
}
}

@media only screen and (max-width: 300px) {
  .winter-collection {
    margin-bottom: 81vw;
  }


}

@media only screen and (max-width: 230px) {

  .parent-arrow {
    margin-top: 7rem;
  }
}



@media  only screen and (max-width: 750px) {

.paragraph-product {
    color: white;
    padding-top: 5%;
    font-size: 4vw;
  }
  .child{
    min-width: 84%;
    height: 67vw;
  }

}



@media only screen and (max-width: 850px) {

  .paragraph-product {
    color: white;
    padding-top: 5%;
    font-size: 3vw;
  }

  .child {
    min-width: 60vw;
    height: 60vw;
  }

  .child-image-button {
    height: 8vw;
  }
}